@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Love+Light&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1085px;
    flex-direction: column;
    border: 1.5px dashed #000;;
    margin: 32px 28px;
    width: 376px;
    background-color: #fff;
}
